@use '../abstracts' as *;

// Base
body {
    color: $color-primary-light;
    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.6;
}

input,
button,
textarea,
select {
    font: inherit;
}

// Subheadings
.subhead {
    font-family: $font-display;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;

    &--white {
        @extend .subhead;
        color: #fff;
    }

    &--primary {
        @extend .subhead;
        color: $color-primary;
    }
}

// Buttons
.btn--primary {
    color: #fff;
    font-weight: 400;
}

// Header
.header__main--content {
    .cta {
        font-family: $font-display;

        h1 {
            color: #fff;
            font-weight: 400;
            line-height: 1;
        }
    }

    .network__logos {
        span {
            font-size: 0.8rem;
            color: $color-gray;
        }
    }
}

// Top realtors section
.realtor {
    &--grid {
        color: #fff;
    }
    &--name {
        font-family: $font-display;
        font-weight: 400;
    }

    &--stats {
        font-size: 0.6rem;
    }
}

// Testimonial section
.testimonial {
    &__quote {
        font-family: $font-display;
        font-size: 2rem;
        font-weight: 400;
        font-style: italic;
        line-height: 1.1;
    }

    &__text {
        font-size: 0.8rem;
        font-style: italic;
    }
}

// Homes section
.card--list--item > span {
    font-size: 0.85rem;
}

// Footer
.footer__main {
    p {
        color: #fff;
        font-size: 0.75rem;
    }
}

.footer__list {
    a {
        color: #fff;
        font-size: 0.9rem;
    }
}
