@use '../abstracts' as *;

// Base
body {
    color: $color-gray-dark-1;
    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.6;
}

input,
button,
textarea,
select {
    font: inherit;
}

// Subheadings
.subhead {
    font-family: $font-display;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;

    &--white {
        @extend .subhead;
        color: #fff;
    }

    &--primary {
        @extend .subhead;
        color: $color-primary;
    }
}

// Buttons
.btn--primary {
    color: #fff;
    font-weight: 400;
}

// Header
.header__main--content {
    .cta {
        font-family: $font-display;

        h1 {
            color: #fff;
            font-weight: 400;
            line-height: 1;
        }
    }

    .network__logos {
        span {
            font-size: 0.8rem;
            color: $color-gray-light-2;
        }
    }
}

// Top realtors section
.realtor {
    &__info {
        color: #fff;
    }

    &--name {
        font-family: $font-display;
        font-weight: 400;
    }

    &--stats {
        font-size: 0.6rem;
    }
}
