@use '../abstracts' as *;

.flex-wrapper {
    @include flex-center;
    flex-wrap: wrap;
    column-gap: 2rem;
}

// Features section
.features {
    .flex-wrapper {
        align-items: baseline;
    }
}

// Homes section
.homes {
    .card--heading--span {
        display: flex;
        justify-content: center;
    }

    .card--list--item {
        display: flex;
    }
}

// Footer
.footer__list {
    flex-direction: column;
    gap: 1rem;
    @include flex-center;
}
