@use '../abstracts' as *;

.flex-wrapper {
    @include flex-center;
    flex-wrap: wrap;
    column-gap: 2rem;
}

// Features section
.features {
    .flex-wrapper {
        align-items: baseline;
    }
}

// Testimonials section
@include respond(medium) {
    .testimonial {
        display: flex;

        &__content--width {
            display: flex;
            align-items: center;
        }
    }
}

// Homes section
.homes {
    .card--heading--span {
        display: flex;
        justify-content: center;
    }

    .card--list--item {
        display: flex;
    }
}

// Footer
.footer__list {
    flex-flow: row wrap;
    gap: 2rem;
    @include flex-center;

    li {
        flex-basis: 100%;
        text-align: center;
    }
}

@include respond(small) {
    .footer__list {
        li {
            flex-basis: 40%;
        }
    }
}

@include respond(large) {
    .footer__list {
        li {
            flex-basis: 25%;
        }
    }
}
