@use '../abstracts' as *;

.realtor {
    &--grid {
        display: grid;
        grid-template-columns: min-content max-content;
        justify-content: center;
        align-items: center;
        column-gap: 1.25rem;
        row-gap: 2rem;
    }
}

.features {
    &--grid {
        display: grid;
        row-gap: 3rem;
    }

    &__info {
        display: grid;
        grid-template-areas:
            'icon header'
            '. paragraph';
        align-items: center;
        column-gap: 1rem;
    }

    &__icon {
        grid-area: icon;
    }

    &__header {
        grid-area: header;
    }

    &__content {
        grid-area: paragraph;
    }
}
