@use '../abstracts' as *;

.realtor {
    &--grid {
        display: grid;
        grid-template-columns: min-content max-content;
        justify-content: center;
        align-items: center;
        column-gap: 1.25rem;
        row-gap: 2rem;
    }
}
