@use '../abstracts' as *;

.header__main {
    &--content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 90vh;
        background: linear-gradient(
                $color-secondary-alpha,
                $color-secondary-alpha
            ),
            url(../../dist/img/hero.jpeg);
        background-position: left;
        background-size: cover;

        .logo {
            width: min(45%, 13rem);
            margin: 0 auto;
        }

        .network__logos {
            line-height: 0.3;
            text-align: center;

            span {
                position: relative;
                display: inline-block;

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    width: 40rem;
                    border-top: 1px solid $color-gray;
                }
                &:before {
                    right: 100%;
                    margin-right: 1rem;
                }
                &:after {
                    left: 100%;
                    margin-left: 1rem;
                }
            }

            &--container {
                display: flex;
                justify-content: space-between;
                align-items: center;

                img {
                    width: min(20%, 6rem);
                    filter: brightness(70%);
                }
            }
        }
    }
}
