@use '../abstracts' as *;

// Header
.header__main--content {
    .cta {
        margin-block: 4.5rem;
    }

    h1 {
        margin-bottom: 1.5rem;
    }

    .network__logos {
        span {
            margin-bottom: 1rem;
        }
    }
}

// Top realtors section
.realtor {
    padding-block: 2rem;
}
