@use '../abstracts' as *;

// Header
.header__main--content {
    .cta {
        margin-block: 4.5rem;
    }

    h1 {
        margin-block-end: 1.5rem;
    }

    .network__logos {
        span {
            margin-block-end: 1rem;
        }
    }
}

// Top realtors section
.realtor {
    padding-block: 3rem;

    .subhead--white {
        margin-block-end: 1rem;
    }
}

// Features section
.features {
    margin-block: 3rem;
}

// Testimonials section
.testimonial {
    margin-block-end: 3rem;

    &__content {
        padding-block: 3rem;
    }

    &__quote {
        margin-block: 1rem;
    }

    &__text {
        margin-block-end: 2rem;
    }
}

// Homes section
.homes {
    margin-block-end: 3rem;

    &__card:not(:last-child) {
        margin-block-end: 3.5rem;
    }

    .card--heading--span {
        margin-block-start: -2rem;
    }

    &__card--heading {
        padding: 1rem;
    }

    &__card--info {
        margin-block: 2rem;
    }

    .card--info-left {
        padding-inline-start: 1.5rem;
    }

    .card--info-right {
        padding-inline-end: 1.5rem;
    }

    &__card ul {
        padding: 0;
    }

    .card--list--item:first-child {
        margin-block-end: 2rem;
    }

    &__icon {
        margin-inline-end: 1rem;
    }
}
