@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: #fff;
}

.btn {
    &:link,
    &:visited {
        font-weight: 300;
    }
}

.nav__list--item a {
    color: #fff;
}

h1 {
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;

    @include respond(xlarge) {
        font-size: 2rem;
    }
}

h2 {
    font-size: 1rem;

    @include respond(medium) {
        font-size: 0.8rem;
    }
    @include respond(large) {
        font-size: 1rem;
    }
    @include respond(xlarge) {
        font-size: 1.3rem;
    }
}

h4 {
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}

blockquote,
.flex--wrapper ul {
    font-size: 0.8rem;
}

footer p {
    color: #fff;
    font-size: 0.7rem;
}
