@font-face {
    font-family: 'aileron';
    src: url('/assets/Aileron-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileron';
    src: url('/assets/Aileron-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'aileron';
    src: url('/assets/Aileron-Light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

body {
    font-family: 'aileron', Georgia, serif;
    font-weight: normal;
    line-height: 1.6;
    background-color: #fff;
}

.btn {
    &:link,
    &:visited {
        font-weight: lighter;
    }
}

.nav__list--item a {
    color: #fff;
}

h1 {
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1rem;

    @include respond(medium) {
        font-size: 0.8rem;
    }
}

h4 {
    font-weight: normal;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}

footer p {
    color: #fff;
    font-size: 0.7rem;
}
