.hotel__img {
  border-radius: 5px;
  box-shadow: 10px 5px 5px #686868;
}

.about__heading {
  flex-direction: column;
  margin-top: $margin-top-lg;
  padding-bottom: $padding-bottom-md;
  @include border-bottom;

  @include flex-center;

  & h2 {
    margin-bottom: $margin-bottom-sm;
  }

  & .stars {
    width: 9rem;
    height: 2rem;
    border-radius: 5px;
    background-color: $primary-color;

    @include flex-center;

    & img {
      width: 60%;
      height: 60%;
    }
  }
}

.about__text:nth-of-type(1) {
  padding: $padding-top-md 0 $padding-bottom-md;
}

.about__text:nth-of-type(2) {
  margin-bottom: $margin-bottom-md;
  padding-bottom: $padding-bottom-md;
  @include border-bottom;
}

h3 {
  margin-top: $margin-top-lg;
}

h4 {
  margin: $margin-top-sm 0 0.3rem;
}

.review {
  padding: 1.75rem 1.25rem;
  border-radius: 5px;
  background-color: $secondary-color;

  &--one {
    margin-bottom: $margin-bottom-lg;
  }

  blockquote {
    position: relative;
    padding-bottom: $padding-bottom-sm;
  }

  blockquote::before {
    content: '\201C';
    position: absolute;
    top: -55px;
    left: -20px;
    display: block;
    color: $gray-color;
    font-family: Georgia, serif;
    font-size: 5rem;
  }

  .review__flex--wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: $padding-bottom-sm;

    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
  }

  .stars {
    width: 7rem;
    height: 2rem;
    margin: 0 auto;
    border-radius: 5px;
    background-color: transparent;

    @include flex-center;

    & img {
      width: 60%;
      height: 60%;
    }
  }
}
