@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border-bottom {
  border-bottom: solid 3px $primary-color;
}

@mixin respond($breakpoint) {
  @if $breakpoint == small {
    @media (min-width: 31.25em) {
      @content;
    } // 500px
  }
  @if $breakpoint == medium {
    @media (min-width: 37.5em) {
      @content;
    } // 600px
  }
}
