// Colors
$primary-color: #ea4572;
$secondary-color: #fdf0f4;
$gray-color: #e5e5e5;
$dark-primary-color: #cf1748;

// Spacing
$margin-top-sm: 1rem;
$margin-top-md: 1.5rem;
$margin-top-lg: 2rem;
$margin-bottom-sm: 1rem;
$margin-bottom-md: 1.5rem;
$margin-bottom-lg: 2rem;
$padding-top-sm: 1rem;
$padding-top-md: 1.5rem;
$padding-top-lg: 2rem;
$padding-bottom-sm: 1rem;
$padding-bottom-md: 1.5rem;
$padding-bottom-lg: 2rem;
