.btn {
  &:link,
  &:visited {
    padding: 0.5em 1.5em;
    border-radius: 5px;
  }

  &--primary {
    display: inline-block;
    color: #fff;
    background-color: $primary-color;
    border: none;
  }

  &--secondary {
    display: inline-block;
    color: $primary-color;
    background: none;
    border: solid 2px $primary-color;
  }

  &__signin {
    display: none;
  }

  &__book,
  &__reviews {
    margin: 1.5rem auto 2rem;
  }
}
