@use '../abstracts' as *;

// Top realtors section
.realtor {
    background-color: $color-secondary;

    .subhead--white {
        text-align: center;
    }

    &--img {
        max-width: 4rem;
        border-radius: 50%;
    }

    &--name {
        display: block;
        line-height: 1;
    }

    &--stats {
        display: block;
    }
}

// Features section
.features {
    &__icon {
        width: 2.5rem;
    }
}

// Testimonials section
.testimonial {
    background-color: $color-gray-light;
}
