//OVERALL WEBSITE SIZE
$website-width: 114rem;

//SECTION SIZES - responsive (max-width)
$features-info-width: 30rem;
$card-width: 40rem;
$story-width: 100rem;
$booking-width: 40rem;
$popup-width-small: 40rem;
$popup-width-large: 100rem;
$footer-width: 60rem;

//COLORS
$color-primary: #005aa7;
$color-primary-light: #b0dbff;
$color-primary-dark: #001b32;
$color-orange: #f18f01;
$color-green: #306b34;
$color-white: #fff;
$color-black: #000;

//BACKGROUND COLORS
$bg-primary: #005aa7;
$bg-primary-light: #9dd9d2;
$bg-primary-dark: #001b32;
$bg-orange: #f18f01;
$bg-green: #306b34;
$bg-white: #fff;
