@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin respond($breakpoint) {
    @if $breakpoint == small {
        @media (min-width: 37.5em) {
            @content;
        } //600px
    }
    @if $breakpoint == medium {
        @media (min-width: 48.9em) {
            @content;
        } //783px
    }
    @if $breakpoint == large {
        @media (min-width: 60em) {
            @content;
        } //960px
    }
}
