// COLOR VARIABLES
$color-primary: hsl(30, 51%, 10%);
$color-primary-light: hsl(30, 51%, 25%);

$color-secondary: hsl(212, 50%, 15%);
$color-secondary-alpha: hsla(212, 50%, 15%, 0.9);

$color-gray: hsl(0, 0%, 70%);
$color-gray-light: hsl(0, 0%, 97%);

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
