// COLOR VARIABLES
$color-primary: hsl(33, 50%, 30%);

$color-secondary: hsl(212, 50%, 15%);
$color-secondary-alpha: hsla(212, 50%, 15%, 0.9);

$color-gray-light-1: hsl(0, 0%, 90%);
$color-gray-light-2: hsl(0, 0%, 70%);

$color-gray-dark-1: hsl(32, 18%, 30%);
$color-gray-dark-2: hsl(32, 18%, 40%);

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
